{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "~interfaces/*": ["src/interfaces/*"],
      "~services/*": ["src/services/*"],
      "~constants/*": ["src/constants/*"],
      "~types/*": ["src/types/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "inlineSourcesContent": true
}
